html {
    scroll-behavior: smooth;
}

div.highlight {
    background-color: #f5f5f5;
}

.md-header, .md-hero, .md-tabs {
    background-color: #0B1367;
}

.md-typeset a {
    color: #DD00A1;
}

.md-typeset a:active, .md-typeset a:hover {
    color: #F57C00;
}

.md-nav__button img {
    height: 48px;
}

.md-typeset h1 {
    color: rgba(0, 0, 0, .80);
}

.sig-name, .sig-paren {
    font-weight: bold;
}

.md-typeset code {
    padding: 0 0.3em;
}

pre.literal-block {
    padding: .525rem .6rem;
}

.md-nav code {
    font-size: smaller;
}

.md-typeset .admonition, .md-typeset .admonition-title {
    font-size: 0.64rem
}

@media only screen and (min-width: 88.25em) {
    .md-grid {
        max-width: 61rem;
    }

    .md-sidebar--secondary {
        margin-left: 61rem;
    }
}

.o-tooltip--left:after {
    font-size: 0.6rem;
}

.copybtn:hover {
    cursor: copy;
}

.md-sidebar { padding-block-start: 75px; }
.md-content { padding-block-start: 50px; }
header.md-header { top: auto; }
.md-typeset h1[id]:target:before,
.md-typeset h2[id]:target:before,
.md-typeset h3[id]:target:before,
.md-typeset h4[id]:target:before,
.md-typeset h5[id]:target:before,
.md-typeset h6[id]:target:before {
  margin-top: -125px;
  padding-top: 125px;
}
#announcement {
  z-index: 2;
  position: fixed;
  top: 0px;
  width: 100%;
}
#announcement-content {
  background-color: #dd00a1;
  border: 1px;
  color: white;
  text-align: center;
  height: 53px;
  padding: 16px;
  font-family: Alata, sans-serif;
  line-height: 21.6px;
  font-size: 18px;
  font-weight: 300;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
#announcement-content a {
  text-decoration: underline;
  margin-left: 32px;
}
